:root {
  --bg-body: #272727;
  --main-color: #e2e2e2;
  --btn-bgcolor: #474747;
  --btn-textcolor: #e2e2e2;
  --btn-hover: 0px 0px 15px 5px #616161;
  --new-game-submit-color: #00c010;
}

body.theme-light {
  --bg-body: #a2f3ff;
  --main-color: #272727;
  --btn-bgcolor: #0096f4;
  --btn-textcolor: #e2e2e2;
  --btn-hover: 0px 0px 15px 5px #1d009f63;
}

body {
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
    background-color: var(--bg-body);
    color: var(--main-color);
    text-align: center;
    align-items: center;
    place-items: center;
}

main {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
    align-items: center;
    place-items: center;
}

.game-screen {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    align-items: center;
    place-items: center;
}

button {
  width: 110px;
  height: 50px;
  margin: 20px;
  background-color: var(--btn-bgcolor);
  color: var(--btn-textcolor);
  border: none;
  border-radius: 5px;
}

button:hover {
  box-shadow: var(--btn-hover);
}

#new-game-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 10px;
  align-items: center;
  place-items: center;
}

#new-game-submit {
  width: 110px;
  height: 50px;
  margin: 20px;
  background-color: #00c010;
  color: var(--btn-textcolor);
  border: none;
  border-radius: 5px;
}

#new-game-submit:hover {
  box-shadow: var(--btn-hover);
}

.return-btn {
  padding: 5px;
  margin: 20px;
  background-color: #ad0000;
  color: var(--btn-textcolor);
  border: none;
  border-radius: 5px;

}